{% extends 'base.html' %}


{% block start %}

<div class="container mt-5 pt-5 pb-5">
    <div class="row">
        <div class="col-md-3">
            <div class="card shadow" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/119926339/photo/resort-swimming-pool.jpg?s=612x612&w=0&k=20&c=9QtwJC2boq3GFHaeDsKytF4-CavYKQuy1jBD2IRfYKc=" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                

                <span class="badge text-bg-primary bg-blue">Swimming Pool</span>
                <span class="badge text-bg-primary">AC</span>
                </div>

            </div>
        </div>



        <div class="col-md-3">
            <div class="card shadow" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGvMA6_joztBLordWI4jVe8ujzwIxpnDp31g&s" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                

                <span class="badge text-bg-primary bg-blue">Swimming Pool</span>
                <span class="badge text-bg-primary">AC</span>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="card shadow" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2E_ra5kWxwPrn0yxnngNkfRZZfkIEZxkzlm7yZuqoCyU7Tt-90fXYg8I&s" class="card-img-top" alt="...">

                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                

                <span class="badge text-bg-primary bg-blue">Swimming Pool</span>
                <span class="badge text-bg-primary">AC</span>
                </div>
                
            </div>
        </div>


        <div class="col-md-3">
            <div class="card shadow" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTn9VEpeeu6H4AcaaaXE051Mnv1byf9UDDLZg&s" class="card-img-top" alt="...">

                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                

                <span class="badge text-bg-primary bg-blue">Swimming Pool</span>
                <span class="badge text-bg-primary">AC</span>
               </div>
            </div>
        </div>


      
    </div>
</div>


{% endblock %}